<div class="hidden lg:block lg:ml-10">

    {{ include ('partials/sidebars/sidebar-type.twig') }}
    {{ include ('partials/sidebars/sidebar-status.twig') }}

    <div class="yearly-archives" x-data="{archiveOpen : null}">


        <div class="flex items-center" @click="archiveOpen !== 1 ? archiveOpen = 1 : archiveOpen = null">
            <span class="mr-2 uppercase font-semibold tracking-wide py-2 block hover:text-brand-primary-medium flex items-center">
                <div class="bg-brand-primary h-10 w-10 block rounded-full hover:bg-brand-primary-medium mr-3 flex items-center justify-center">
                    <i class="fas fa-archive text-brand-white text-xl"></i>
                </div>
                <span>
                    ARCHIVES
                </span>

            </span>
            <i class="rotate-0 fas fa-chevron-down " x-ref="toggle-icon " x-bind:class="archiveOpen == 1 ? 'rotate-180 transition-all duration-500 rotate-180 transform' : ''"></i>
        </div>



        <div x-ref="archivechunk" class="ml-10 prose text-sm prose p-0 overflow-hidden transform transition-all max-h-0 duration-900 " x-bind:style="archiveOpen == 1 ? 'max-height: ' + ($refs.archivechunk.scrollHeight + 20 ) + 'px' : ''" x-bind:class="archiveOpen == 1 ? '' : ''">
            {{ years }}

            {% for ar in options.sidebar_bot.old_archive_links %}
                <li>
                    <a href="{{ ar.archive_link.url }}" class="block" >{{ ar.archive_link.title }}</a>
                </li>

            {% endfor %}
        </div>

    </div>


    <div class="mt-0" x-data="{infoOpen : null}">
        <div class="flex items-center" @click="infoOpen !== 1 ? infoOpen = 1 : infoOpen = null">
            <span class="mr-2 uppercase font-semibold tracking-wide py-2 block hover:text-brand-primary-medium flex items-center">
                <div class="bg-brand-primary h-10 w-10 block rounded-full hover:bg-brand-primary-medium mr-3 flex items-center justify-center">
                    <i class="fas fa-question-circle text-brand-white text-xl"></i>
                </div>
                <span>
                    ABOUT {{ptype}}
                </span>

            </span>
            <i class="rotate-0 fas fa-chevron-down " x-ref="toggle-icon " x-bind:class="infoOpen == 1 ? 'rotate-180 transition-all duration-500 rotate-180 transform' : ''"></i>
        </div>
        <div x-ref="infochunk" class="ml-12 prose text-sm prose p-0 overflow-hidden transform transition-all max-h-0 duration-900 " x-bind:style="infoOpen == 1 ? 'max-height: ' + ($refs.infochunk.scrollHeight + 20 ) + 'px' : ''" x-bind:class="infoOpen == 1 ? '' : ''">
            <p class="">
                {{ options.sidebar_bot.sidebar_area }}
            </p>
        </div>
    </div>

</div>


{# MOBILE VERSION #}


    {{include('partials/sidebars/sidebar-mobile-toggles.twig')}}
    {{include('partials/sidebars/sidebar-mobile-typechunk.twig')}}
    {{include('partials/sidebars/sidebar-mobile-statuschunk.twig')}}



    <div x-ref="archivechunk"
        class="ml-4 text-sm p-0 overflow-hidden transform transition-all max-h-0 duration-900 w-full z-50"

        x-bind:style="archiveOpen == 1 ? 'max-height: ' + ($refs.archivechunk.scrollHeight + 100 ) + 'px' : ''"

        x-bind:class="archiveOpen == 1 ? 'py-2 listkiller' : ''"

        >

        <div class="block">
            <ul class="ml-o pl-0">
                {{ years }}
                {% for ar in options.sidebar_bot.old_archive_links %}
                    <li>
                        <a href="{{ ar.archive_link.url }}" >{{ ar.archive_link.title }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>



    <div x-ref="infochunk"
        class="text-xs prose p-0 overflow-hidden transform transition-all max-h-0 duration-900 w-3/4 top-16 right-2 z-50"

        x-bind:style="infoOpen == 1 ? 'max-height: ' + ($refs.infochunk.scrollHeight + 100 ) + 'px' : ''"

        x-bind:class="infoOpen == 1 ? 'py-2' : ''">

        {{ options.sidebar_bot.sidebar_area }}

    </div>

</div>
