
    <div x-ref="typechunk"
    class="text-sm p-0 overflow-hidden transform transition-all max-h-0 duration-900 w-full z-50"

    x-bind:style="typeOpen == 1 ? 'max-height: ' + ($refs.typechunk.scrollHeight + 100 ) + 'px' : ''"

    x-bind:class="typeOpen == 1 ? 'py-2' : ''">

    <div class="">
        <ul class="text-brand-primary-medium flex flex-wrap items-center justify-between pr-4">
            <li class="inline-block my-1 px-2">
                <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary  block" href="{{ site.link }}/">Recent Activity</a>
            </li>
            <li class="inline-block my-1 px-2">
                {% if ptype == 'bot' %}
                    <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary block" href="{{ site.link }}/bot/trade_status/active"><span class="text-accent-blue mr-1">•</span>
                        BreakOut Trades</a>
                {% else %}
                    <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary block" href="{{ site.link }}/bot/trade_status/active">BreakOut Trades</a>
                {% endif %}

            </li>
            <li class="inline-block my-1 px-2">
                {% if ptype == 'cct' %}
                    <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary block" href="{{ site.link }}/cct/trade_status/active"><span class="text-accent-blue mr-1">•</span>
                        Commodity Cycle</a>
                {% else %}
                    <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary block" href="{{ site.link }}/bot/trade_status/active">Commodity Cycle
                    </span></a>
                {% endif %}

            </li>
            <li class="inline-block my-1 px-2">
                {% if ptype == 'lto' %}
                    <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary block" href="{{ site.link }}/lto/trade_status/active"><span class="text-accent-blue mr-1">•</span>
                        Long Term Option</a>
                {% else %}
                    <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary block" href="{{ site.link }}/lto/trade_status/active">Long Term Options
                    </span></a>
                {% endif %}
            </li>
            <li class="inline-block my-1 px-2">
                {% if ptype == 'ofi' %}
                    <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary block" href="{{ site.link }}/ofi/trade_status/active"><span class="text-accent-blue mr-1">•</span>
                        Options for Income</a>
                {% else %}
                    <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary block" href="{{ site.link }}/ofi/trade_status/active">Options for Income
                    </span></a>
                {% endif %}

            </li>
            <li class="inline-block my-1 px-2">
                    <a class="uppercase font-semibold py-1 text-sm hover:text-brand-secondary block" href="{{ site.link }}/tactical-portfolio">
                        Tactical Portfolio</a>

            </li>

        </ul>
    </div>
</div>
