<header class="page-header w-full bg-brand-white border-b border-gray-medium shadow fixed z-30 pr-2 lg:pr-8">
    <div class='flex-grow w-full max-w-7xl mx-auto  flex items-center justify-between'>
        <h2 class=" flex items-center text-base md:text-2xl uppercase text-brand-primary p-2 md:py-4 lg:px-10 items-center tracking-widest font-semibold flex-shrink"><i class="fas fa-bell mr-2 md:mr-2 lg:mr-3"></i>
            <a class="hover:text-brand-primary-medium" href="{{ site.link }}/trade-updates">TRADES</a>

            <i class="far fa-chevron-double-right m-2 text-sm"></i>
            <a class="" href="{{ site.link }}/{{post.post_type}}/trade_status/active"><p class="flex">{{ include ('partials/trade-types/trade-type-pill_medium.twig') }} </p></a>

            <i class="far fa-chevron-double-right m-2 text-sm text-gray-dark"></i>
            {{post.ticker_symbol}}
        </h2>

        {{ include ('partials/searchform.twig') }}
    </div>

</header>


