<!-- HEADER/TOP NAV START-->
<header class="top-header lsop-header bg-brand-primary relative z-40">
    <nav class="top-nav">
      <div class="top-nav-left">
        <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/?" class="logo">
          <img
            src="{{theme.link}}/../assets/images/logo-circle.png"
            alt="big picture trading logo"
        /></a>
      </div>
      <div class="hamburger">

        <input type="checkbox" name="menuCheck" class="menuCheck" id="">
        <i class="fas fa-bars"></i>
        <div class="mobile-menu">
          <ul>
            <li>
              <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#daily-analytics">Daily Analytics</a>
            </li>
            <li>
              <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#trade-updates">Trade Updates</a>
            </li>
            <li>
              <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#master-programs">Master Programs</a>
            </li>
            <li>
              <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#upcoming-events">Upcoming Events</a>
            </li>
            <li>
              <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#resources">Resources</a>
            </li>
            <li>
              <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#tools">Tools</a>
            </li>

            <li>
              <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#twitter">Twitter Feed</a>
            </li>
            <li>
              <a href="http://secure.bigpicturetrading.com/membership/profile">Account</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="top-nav-right">
        <ul class="top-menu top-nav-primary">
          <li>
            <a class="top-level-side-nav" href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#daily-analytics">
              <div class="side-link-icon">
                <i class="fas fa-analytics"></i>
              </div>
              <span>daily analytics</span>
            </a>
            <ul class="top-nav-secondary">
              <li>
                <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#daily-analytics">Macro Outlook</a>
              </li>
              <li>
                <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#daily-analytics">Where is the Trade?</a>
              </li>
              <li>
                <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/recording_archives.php">Recording Archive</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="top-level-side-nav" href="{{ site.url }}/trade-updates">
              <div class="side-link-icon">
                <i class="fas fa-bell"></i>
              </div>
              <span>trade updates</span>
            </a>
            <ul class="top-nav-secondary">
              <li>
                <a target="blank" href="{{ site.url }}/trade_type/trade-type-bot/">BreakOut Trades</a>
              </li>
              <li>
                <a target="blank" href="{{ site.url }}/tactical-portfolio/">Tactical Portfolio</a>
              </li>
              <li>
                <a target="blank" href="{{ site.url }}/trade_type/trade-type-lto/">Long Term Options</a>
              </li>
              <li>
                <a target="blank" href="{{ site.url }}/trade_type/trade-type-ofi/">Options for Income</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="top-level-side-nav" href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#master-programs">
              <div class="side-link-icon">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <span>master programs</span>
            </a>
            <ul class="top-nav-secondary">
              <li>
                <a target="blank" href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/macro_fundamentals/">Macro Master</a>
              </li>
              <li>
                <a target="blank" href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/Technical_Masters/">Technical Master</a>
              </li>
              <li>
                <a target="blank" href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/learntotradeglobal.options_week/">Options Master</a>
              </li>
              <li>
                <a target="blank" href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/Trading_Master/">Trading Master</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="top-level-side-nav" href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#resources">
              <div class="side-link-icon">
                <i class="fas fa-books"></i>
              </div>
              <span>resources</span>
            </a>
            <ul class="top-nav-secondary">
              <li>
                <a target="_blank" href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/memberseducation.php">Members Bonus Content</a>
              </li>
              <li>
                <a href="https://www.macrovoices.com/" target="_blank">MacroVoices</a>
              </li>
              <li>
                <a href="https://markethuddle.com/" target="_blank">MarketHuddle</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="top-level-side-nav" href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#tools">
              <div class="side-link-icon">
                <i class="fas fa-tools"></i>
              </div>
              <span>tools</span>
            </a>
            <ul class="top-nav-secondary">
              <li>
                <a href="https://secure.bigpicturetrading.com/option.simulator/position_simulator.php" target="_blank">Options Trading Simulator</a>
              </li>
              <li>
                <a href="https://bigpicturetrading.com/wp-content/uploads/2020/05/TrackingtheCalendarPutWrite.xlsx" target="_blank">Put Write Calendar Spreadsheet</a>
              </li>
              <li>
                <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/portfolio_strategies/calculators/calc1.html" target="_blank">Covered Call Calculator</a>
              </li>
              <li>
                <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/portfolio_strategies/calculators/calc2.html" target="_blank">Naked Put Calculator</a>
              </li>

            </ul>
          </li>
          <li class="top-menu-account-li">
            <a class="top-level-side-nav top-menu-account-link" target="_blank" href="http://secure.bigpicturetrading.com/membership/profile">
              <div class="side-link-icon">
                <i class="fas fa-user"></i>
              </div>
              <span><i class="fas fa-user"></i></span>
            </a>
            <ul class="top-nav-secondary">
              <li>
                <a href="http://secure.bigpicturetrading.com/membership/profile">Edit Profile</a>
              </li>
              <li>
                <a href="http://secure.bigpicturetrading.com/membership/logout">Log Out</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </nav>
  </header>
<!-- HEADER/TOP NAV END-->
