<header class="page-header w-full bg-brand-white border-b border-gray-medium shadow fixed z-30 pr-8">
    <div class='flex-grow w-full max-w-7xl mx-auto  lg:flex items-center justify-between '>
        <h2 class=" flex items-center text-2xl uppercase text-brand-primary p-4 px-10 items-center tracking-widest font-semibold flex-shrink"><i class="fas fa-bell mr-3"></i>

        {% if fn('is_day') %}
            {{ title }}


        {% elseif fn('is_month') %}

            {{ title }}

        {% elseif fn('is_year') %}
            <a class="hover:text-brand-primary-medium" href="{{ site.link }}/trade-updates">TRADES</a>

            <i class="far fa-chevron-double-right m-2 text-sm"></i>
            <a class="" href="{{ site.link }}/{{ptype}}">{{title}}</a>

            {% if year %}
            <i class="far fa-chevron-double-right m-2 text-sm"></i>
                <a class="" href="{{ site.link }}/{{ptype}}/{{year}}">{{year}}</a>
            {% endif %}

        {% elseif fn('is_tag') %}

            {{ title }}


        {% elseif fn('is_category') %}
            {{ title }}



        {% elseif fn('is_tax') %}
            <a class="hover:text-brand-primary-medium" href="{{ site.link }}/trade-updates">TRADES</a>

            <i class="far fa-chevron-double-right m-2 text-sm"></i>
            <a class="" href="{{ site.link }}/{{ptype}}">{{title}}</a>

            {% if trade_status %}
            <i class="far fa-chevron-double-right m-2 text-sm"></i>
                <a class="" href="{{ site.link }}/{{ptype}}/{{trade_status}}">{{trade_status}}</a>
            {% endif %}


        {% elseif fn('is_post_type_archive') %}
            <a class="hover:text-brand-primary-medium" href="{{ site.link }}/trade-updates">TRADES</a>

            <i class="far fa-chevron-double-right m-2 text-sm"></i>
            <a class="" href="{{ site.link }}/{{ptype}}">{{title}}</a>

            {% if year %}
            <i class="far fa-chevron-double-right m-2 text-sm"></i>
                <a class="" href="{{ site.link }}/{{ptype}}/{{year}}">{{year}}</a>
            {% endif %}

            {% if trade_status %}
            <i class="far fa-chevron-double-right m-2 text-sm"></i>
                <a class="" href="{{ site.link }}/{{ptype}}/{{trade_status}}">{{trade_status}}</a>
            {% endif %}

        {% else %}


        {% endif %}


        </h2>

        {{ include ('partials/searchform.twig') }}
    </div>
    {{ include ('partials/header-tertiary-trades.twig') }}
</header>


