<div class="tool-pagination">
    Pagination
    {% for page in pagination.pages %}
        <!-- <li>
            {% if page.link %}
                <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
            {% else %}
                <span class="{{page.class}}">{{page.title}}</span>
            {% endif %}
        </li> -->
    {% endfor %}
</div>
