{% if posts.pagination.pages|length <= 0 %}

{% else %}



<nav class="w-full">
    <ul class="w-full flex justify-between uppercase">
        {# First #}

        <!-- {% set firstString = __('First', 'jackpine') %}

        {% if posts.pagination.pages | first and posts.pagination.pages | first.current != true %}
            <li>
                <a href="{{ posts.pagination.pages | first.link }}">{{ firstString }}</a>
            </li>
        {% else %}
            <li class="text-gray-medium">
                <span>{{ firstString }}</span>
            </li>
        {% endif %} -->

        {# Previous #}

        {% set previousString = __('NEWER', 'jackpine') %}

        {% if posts.pagination.prev %}
            <li>
                <a class="text-brand-secondary" href="{{ posts.pagination.prev.link }}">{{ previousString }}</a>
            </li>
        {% else %}
            <li class="text-gray-medium">
                <span>{{ previousString }}</span>
            </li>
        {% endif %}

        {# Pages #}
        <ul class="flex">
        {% for page in posts.pagination.pages %}
            {% if page.link %}
                <li class="m-1 ">
                    <a class="text-brand-secondary" href="{{ page.link }}">{{ page.title }}</a>
                </li>
            {% else %}
                <li class="m-1 text-gray-medium">
                    <span>{{ page.title }}</span>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        {# Next #}

        {% set nextString = __('OLDER', 'jackpine') %}

        {% if posts.pagination.next %}
            <li>
                <a class="text-brand-secondary" href="{{ posts.pagination.next.link }}">{{ nextString }}</a>
            </li>
        {% else %}
            <li class="text-gray-medium">
                <span>{{ nextString }}</span>
            </li>
        {% endif %}

        {# Last #}

        <!-- {% set lastString = __('Last', 'jackpine') %}

        {% if posts.pagination.pages | last and posts.pagination.pages | last.current != true %}
            <li>
                <a href="{{ posts.pagination.pages | last.link }}">{{ lastString }}</a>
            </li>
        {% else %}
            <li class="text-gray-medium">
                <span>{{ lastString }}</span>
            </li>
        {% endif %} -->
    </ul>
</nav>

{% endif %}
