<span title="{{trade.trade_type.name}}"
    class="
        pill mr-1 pill_small bg-{{trade.trade_type.pill_bg}}
        text-{{trade.trade_type.color_code}}
        border
        border-{{trade.trade_type.color-code}}"
    >
    {{trade.trade_type.type_abbreviation}}</span>