<article>
    {% if post.thumbnail.src %}
        <a href="{{ post.link }}">
            <img src="{{ post.thumbnail.src('medium') }}"
                 alt="{{ post.thumbnail.alt }}">
        </a>
    {% endif %}

    <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>

    <p>{{ post.excerpt }}</p>
</article>
