<article class="border-box trade-card p-2 md:p-4 lg:rounded-lg lg:shadow-lg lg:p-8 lg:mb-4 lg:bg-brand-white">
    {# TRADE SETUP  #}
    <div class="grid grid-cols-12">
        {# SYMBOL, NAME, AND TYPE  #}
        <div class="setup-details col-span-9 order-1 lg:col-span-2 mb-8 lg:mb-2">
            {{ include ('partials/metabits/meta-security-info.twig') }}
        </div>
        {# DESCRIPTION AND DETAILS  #}
        <div class="col-span-12 lg:col-span-4 flex flex-wrap flex-row order-5 mb-2">
            <div class="w-1/2">
                {{ include ('partials/metabits/meta-posted-on.twig') }}
            </div>
            <div class="w-1/2">
                {{ include ('partials/metabits/meta-last-traded.twig') }}

            </div>
            <div class="w-1/2 mt-3">
                {{ include ('partials/metabits/meta-outlook.twig') }}
            </div>

            <div class="w-1/2 mt-3">
                {{ include ('partials/metabits/meta-first-target.twig') }}

            </div>
            <div class="w-1/2 mt-3">
                {{ include ('partials/metabits/meta-strategy.twig') }}
            </div>
            <div class="w-1/2 mt-3">
                {{ include ('partials/metabits/meta-profit-taking-zone.twig') }}
            </div>
        </div>

        {# IMAGE  #}
        <div class="col-span-12 lg:col-span-4 order-6 mt-8 lg:mt-0">
            <a href="{{trade.setup_chart.url}}" target="_blank" class="cursor-pointer" title="Open chart in new window...">
                <img alt="{{trade.setup_chart.text}}"  class="object-fit w-full shadow-lg" src="{{trade.setup_chart.url|resize(400)}}">
            </a>

        </div>
        {# TRADE FLAG #}
        <div class="col-span-3 lg:col-span-2 order-2 lg:order-7 flex justify-end mt-2">
            <h4 class="">{{ include ('partials/trade-flags/trade-flag-pill_medium.twig') }}</h4>
        </div>

        <div class="col-span-11 lg:col-span-4 lg:col-start-3 order-8 pr-4">

            <div class="mt-8 mr-8">{{trade.meta('trade_description')}}</div>


            <div class="">

                {% if trade.learn_links is not empty %}
                    <ul class="list-disc mt-8 pl-5">
                        {% for link in trade.learn_links %}
                        <li class="underline tracking-wide text-brand-primary-medium text-xs leading-5">
                            <a href="{{link.learn_link_url.url}}" class="learn-link"> {{link.learn_link_url.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <span class="text-gray-medium italic tect-center block"></span>
                {% endif %}


            </div>

        </div>
        <div class="col-span-11 lg:col-span-4 order-9">
            {{ include ('partials/witt-trade.twig') }}
        </div>



    </div>
</article>

