


<article class="trade-card rounded-lg shadow-lg p-4 mb-4 bg-brand-white grid grid-cols-concise">
    {# TRADE SETUP  #}
    <div class="col-span-1">
        <h4 class="">{{ include ('partials/trade-flags/trade-flag-pill_small.twig') }}</h4>
        <p class="subheading mt-2">LAST ACTIVITY</p>
        <p class="meta">{{trade.latest_update_date}}</p>
        <h4 class="mt-2 subheading">{{ include ('partials/trade-types/trade-type-pill_small.twig') }}</h4>
        
        
        <h4 class="mt-2 subheading"></h4>
        <h2 class="mt-2"><a href="" class="symbol text-5xl font-black tracking-wide">{{trade.ticker_symbol}}</a></h2>
        <p class="sentence text-lg">{{trade.underlying_name}}</p>
    </div>
    <div class="col-span-1 p-2">
        <h4 class="pill col-span-1 text-brand-white bg-{{trade.trade_flag.color_code}}"><i class="fas fa-{{trade.trade_flag.icon_code}}"></i> {{trade.trade_flag}}</h4>
        <p class="subheading mt-2">LAST ACTIVITY</p>
        <p class="meta">{{trade.latest_update_date}}</p>
    </div>


    <div class="setup-details col-span-1">

        <p class="mt-2 subheading">strategy</p>
        <p class="meta">{{trade.trade_strategy}}</p>
    </div>
    <div class="col-span-1">
        <h4 class="mt-2 subheading">outlook</h4>
        <p class="meta text-{{trade.outlook.color_code}}"><i class="fas fa-{{trade.outlook.icon_code}}"></i> {{trade.outlook}}</p>
    </div>
    <div class="col-span-1">
        <a href="" class="italic uppercase bold tracking-widest brand-secondary-medium p-4 pb-2 block text-right"><i class="fal fa-clock"></i> See full history</a>
    </div>




</article>

