


    <article class="trade-card rounded-lg shadow p-3 px-5 mb-4 bg-brand-white grid grid-cols-concise">

            <div class="setup-details col-span-1 flex items-center">
                <h2 class="flex items-center" title="{{trade.underlying_name}}"><a href="" class="mr-2 symbol text-3xl font-black tracking-wide">{{trade.ticker_symbol}}</a>
                    <span class="pill pill_small text-accent-red border border-accent-red flex">  TAC</span>
                </h2>
            </div>
            <div class="col-span-1">
                <p class="subheading">LAST ACTIVITY</p>
                <p class="meta">{{trade.latest_update_date}}</p>
            </div>

            <div class="col-span-1">
                <h4 class="subheading">outlook</h4>
                <p class="meta text-{{trade.outlook.color_code}}"><i class="fas fa-{{trade.outlook.icon_code}}"></i> {{trade.outlook}}</p>
            </div>
            <div class="col-span-1">
                <p class="subheading">asset class</p>
                <p class="meta">{{trade.asset_class}}</p>
            </div>
            <div class="col-span-1">
                <p class="subheading">allocation</p>
                <p class="meta">{{trade.allocation}}%</p>
            </div>
            <div class="col-span-1 flex justify-end items-center">
                <h4 class="">{{ include ('partials/trade-flags/trade-flag-pill_medium.twig') }}</h4>
            </div>
            <a href="{{trade.link}}" target="_blank" title="Go To Trade Details" aria-label="Go to Trade Details" class="col-span-1 block ml-5 flex items-center text-gray-medium hover:text-gray-dark">
                <i class="fas fa-ellipsis-h"></i>
            </a>
    </article>

