

    <article class="trade-card rounded-lg shadow p-2 pl-3 pr-1 md:px-5 mb-4 bg-brand-white grid grid-cols-6 md:grid-cols-concise text-left">

        <div class="col-span-2 md:col-span-1 flex items-center ellipsis">
            <h2 class="flex items-center" title="{{trade.underlying_name}}"><a href="" class="mr-2 symbol text-3xl font-black tracking-wide">{{trade.ticker_symbol}}</a>
                <span class="pill pill_small text-accent-red border border-accent-red flex">  TAC</span>
            </h2>
        </div>

        <div class="col-span-1 md:col-span-1 ellipsis">
            {{ include ('partials/metabits/meta-allocation.twig') }}
        </div>
        <div class="md:col-span-1 hidden md:block ellipsis">
            {{ include ('partials/metabits/meta-outlook.twig') }}
        </div>
        <div class="md:col-span-1 hidden md:block ellipsis">
            {{ include ('partials/metabits/meta-strategy.twig') }}
        </div>
        <div class="md:col-span-1 hidden md:block ellipsis">
            {{ include ('partials/metabits/meta-latest-update-date.twig') }}
        </div>
        <div class="col-span-2 md:col-span-1 flex justify-end items-center ellipsis">
            {{ include ('partials/metabits/meta-trade-flag.twig') }}
        </div>
        <a href="{{trade.link}}" target="_blank" title="Go To Trade Details" aria-label="Go to Trade Details" class="col-span-1 block ml-5 flex items-center text-gray-medium hover:text-gray-dark">
            <i class="fas fa-ellipsis-h"></i>
        </a>
</article>
