


<article class="trade-card p-2 md:p-4 lg:rounded-lg lg:shadow-lg lg:p-8 lg:mb-4 lg:bg-brand-white grid grow-rows-full grid-cols-12 grid-cols-2">
    {# TRADE SETUP  #}

    <div class="grid lg:grid-cols-full col-span-12 grid-cols-4">
        <div class="m-1 col-span-3 order-1 lg:col-span-1 lg:row-span-2 mb-4 flex flex-wrap items-start">
            <h2 class="flex items-center" title="{{trade.ticker_symbol.underlying_name}}"><a href="" class="mr-2 symbol text-3xl md:text-5xl font-black tracking-wide">{{trade.ticker_symbol}}</a>  <span title="{{trade.trade_type.name}}"
                class="
                    bg-gray-light
                    text-gray-dark
                    border
                    border-gray-dark"
                >
                tac</span></h2>
            <p class="font-semibold block w-full text-base md:text-xl ">{{trade.ticker_symbol.underlying_name}}</p>
            {# {{ include ('partials/elements/lightbox.twig') }} #}
        </div>



        <div class="m-1 col-span-2 md:col-span-1 lg:col-span-1 ellipsis order-4">
            {{ include ('partials/metabits/meta-allocation.twig') }}
        </div>
        <div class="m-1 col-span-2 md:col-span-1 lg:col-span-1 ellipsis order-4">
            {{ include ('partials/metabits/meta-asset-class.twig') }}
        </div>
        <div class="m-1 col-span-2 md:col-span-1 lg:col-span-1 ellipsis order-4">
            {{ include ('partials/metabits/meta-strategy.twig') }}
        </div>

        <div class="m-1 col-span-2 md:col-span-1 lg:col-span-1 ellipsis order-4">
            {{ include ('partials/metabits/meta-outlook.twig') }}
        </div>
        <div class=" m-1 col-span-1 lg:col-span-1 flex justify-end pt-2 lg:pt-0 lg:items-center ellipsis order-2 lg:order-4">
            {{ include ('partials/metabits/meta-trade-flag.twig') }}
        </div>


        <div class="m-1 col-span-4 lg:col-start-2 lg:col-span-5 flex items-start order-7">
            <div class="mt-8">{{trade.meta('trade_description')}}</div>
        </div>

        <div class="col-span-4 flex items-start lg:col-start-2 flex-wrap order-8">

            {% if tac_url is not empty %}
                <div class="w-full">
                    <a href="{{tac_url}} " class="mt-8 right btn uppercase rounded shadow text-white bg-accent-blue"> See ASSOCIATED Position</a>
                </div>
            {% endif %}
            {{include ('partials/witt-trade.twig')}}

            {% if trade.alternatives is not empty %}
                <div class="col-span-4 flex items-start col-start-2">
                    {{ include ('partials/alternatives/alternatives.twig') }}
                </div>
            {% endif %}

        </div>

    </div>

</article>

