
        <a href="{{trade.link}}" target="_blank" title="Go To Trade Details" aria-label="Go to Trade Details" class="trade-card block rounded-lg shadow p-2 px-4 md:p-3 md:px-4 mb-2 md:mb-4 bg-brand-white grid grid-cols-concise-xs xs:grid-cols-concise-xs sm:grid-cols-concise-sm md:grid-cols-concise-md lg:grid-cols-concise border-box">

            <div class="setup-details col-span-1 flex items-center order-1 ellipsis">
                <h2 class="flex items-center mr-2 symbol text-3xl font-black tracking-wide" title="{{trade.underlying_name}}"><span class="mr-2">{{trade.ticker_symbol}}</span>

                        {{ include ('partials/trade-types/trade-type-pill_small.twig') }}

                </h2>
            </div>
            <div class="col-span-1 ellipsis order-2">
                {{ include ('partials/metabits/meta-latest-update-date.twig') }}
            </div>

            <div class="col-span-1 ellipsis hidden sm:block order-5">
                {{ include ('partials/metabits/meta-outlook.twig') }}
            </div>
            <div class="col-span-1 ellipsis order-5 hidden sm:block">
                {{ include ('partials/metabits/meta-strategy.twig') }}
            </div>
            <div class="ellipsis order-5 hidden md:block">
            {% if trade.post_type == 'bot' %}
                {{ include ('partials/metabits/meta-last-traded.twig') }}
            {% else %}
                {{ include ('partials/metabits/meta-acb.twig') }}
            {% endif %}
            </div>
            <div class="col-span-1 ellipsis flex justify-end items-center order-2 sm:order-5">
                <div class="hidden md:block">
                    {{ include ('partials/metabits/meta-trade-flag.twig') }}
                </div>
                <div class="md:hidden">
                    {{ include ('partials/trade-flags/trade-flag-pill_icon.twig') }}
                </div>
            </div>
            <div aria-label="Go to Trade Details" class="col-span-1 block lg:ml-5 flex justify-end md:justify-center items-center text-gray-medium hover:text-gray-dark order-5">
                <i class="fas fa-ellipsis-h"></i>
            </div>

            {# href="{{trade.link}}" target="_blank" title="Go To Trade Details" aria-label="Go to Trade Details" #}
        </a>
