


<article class="trade-card rounded-lg shadow-lg p-8 mb-4 bg-brand-white grid grow-rows-full grid-cols-12">
    {# TRADE SETUP  #}
    <pre>set up card BOT</pre>
    <div class="grid grid-cols-full col-span-12 ">
        <div class="setup-details col-span-1 row-span-1 ">
            <h2 class="flex items-center" title="{{trade.underlying_name}}"><a href="" class="mr-2 symbol text-5xl font-black tracking-wide">{{trade.ticker_symbol}}</a>  {{ include ('partials/trade-types/trade-type-pill_small.twig') }}</h2>
            <p class="text-xl font-semibold block flex-none">{{trade.underlying_name}}</p>

        </div>
        <div class="col-span-1">
            <p class="subheading">ENTERED ON</p>
            <p class="meta">{{trade.latest_update_date}}</p>

            <p class="subheading mt-3">ENTERED AT</p>
            <p class="meta">${{trade.acb_at_update}}</p>

            <h4 class="subheading mt-3">outlook</h4>
            <p class="meta text-{{trade.outlook.color_code}}"><i class="fas fa-{{trade.outlook.icon_code}}"></i> {{trade.outlook}}</p>

            <p class="subheading mt-3">first target</p>
            <p class="meta block">${{trade.bot_fields.first_target}}</p>

            <p class="subheading mt-3">Profit taking Zone</p>
            <p class="meta block">${{trade.bot_fields.profit_zone_start}} 
                
                {% if trade.outlook.slug == 'bullish' %}
                    <i class="far fa-arrow-right" style="transform: rotate(45deg)"></i>
                {% elseif trade.outlook.slug == 'bearish' %}
                    <i class="far fa-arrow-right" style="transform: rotate(-45deg)"></i>
                {% elseif trade.outlook.slug == 'neutral' %}
                    <i class="far fa-arrow-right"></i>
                {% else %}
                    <i class="far fa-arrow-right"></i>
                {% endif %}
                
                ${{trade.bot_fields.profit_zone_end}}</p>
                <p class="meta text-sm normal-case font-normal mt-4">{{trade.trade_description}}</p>
        </div>
        <div class="col-span-3">
            <a href="{{trade.setup_chart.url}}" target="_blank" class="block">
                <img src="{{ trade.setup_chart.url}}" class="chart-leg-thumb shadow-xl" alt="Chart image for {{ leg.leg_name }}" />
            </a>
        </div>

        <div class="col-span-1 ">
            <h4 class="">{{ include ('partials/trade-flags/trade-flag-pill_medium.twig') }}</h4>
        </div>
    </div>
</article>

