<div class="jackpine-comment">
    <h3>{{ comment.author.name }}</h3>

    <div>
        {{ comment.comment_content | wpautop }}
    </div>

    {% if comment.children %}
        <div x-data="{ showChildren: false }">
            <button @click="showChildren = !showChildren"
                    type="button">{{ __('Show replies', 'jackpine') }}</button>

            <section @click.away="showChildren = false" x-show="showChildren">
                <h4>{{ __('Replies', 'jackpine') }}</h4>

                {% for child in comment.children %}
                    {% include 'partials/comments/comment.twig' with { comment:child } %}
                {% endfor %}
            </section>
        </div>
    {% endif %}

    <div x-data="{ showForm: false }">
        <button @click="showForm = !showForm"
                type="button">{{ __('Show form', 'jackpine') }}</button>

        <div @click.away="showForm = false" x-show="showForm">
            {% include 'partials/comments/comment-form.twig' %}
        </div>
    </div>
</div>
