{% extends 'layouts/base.twig' %}

{% block body %}

        <section class="w-full lg:rounded-lg lg:shadow-lg mb-4 lg:bg-brand-white p-4 lg:p-12">
            <article class="flex justify-between flex-wrap row-wrap">
                <header class="w-full">
                    <h2 class="uppercase text-4xl tracking-widest font-bold mb-2 text-accent-blue pr-4">{{ post.title }}</h2>
                    <div class="col-span-1">
                        <p class="uppercase">POSTED ON <span class="ml-1 font-semibold text-sm text-brand-primary"><time datetime="{{ post.date | date('Y-m-d H:i:s') }}">{{ post.date }}</time></span></p>

                        <hr class="bg-gray-medium my-4">
                    </div>
                </header>



                <div class="prose lg:w-2/3 mr-18 mt-4 text-lg">
                    <a href="#videos" class="lg:hidden italic text-accent-blue">Jump to Videos</a>
                    {{ post.content }}
                </div>

                <aside class="lg:w-1/4" id="videos">

                </aside>
            </article>


        </section>



    {{ parent() }}
{% endblock body %}
