{% extends 'layouts/base.twig' %}

{% block body %}


    {{ include ('partials/headers/header-secondary-wiki.twig') }}
    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between mt-4 pt-10 lg:pt-16">
        <section class="w-full lg:rounded-lg lg:shadow-lg mb-4 lg:bg-brand-white p-4 lg:p-12">
            <article class="flex justify-between flex-wrap row-wrap">
                <header class="w-full">
                    <h2 class="uppercase text-4xl tracking-widest font-bold mb-2 text-accent-blue pr-4">{{ post.title }}</h2>
                    <div class="col-span-1">
                        <p class="uppercase">POSTED ON <span class="ml-1 font-semibold text-sm text-brand-primary"><time datetime="{{ post.date | date('Y-m-d H:i:s') }}">{{ post.date }}</time></span></p>

                        <hr class="bg-gray-medium my-4">
                    </div>
                </header>



                <div class="prose lg:w-2/3 mr-18 mt-4 text-lg">
                    <a href="#videos" class="lg:hidden italic text-accent-blue">Jump to Videos</a>
                    {{ post.content }}
                </div>

                <aside class="lg:w-1/4" id="videos">

                    {% if videos %}
                    <div class="mt-8">
                        <h3 class="text-2xl mb-6 text-brand-primary-medium tracking-wider font-semibold">VIDEO TUTORIALS</h3>
                    <div class="wiki-videos">
                        <ul>
                            {% for video in videos %}
                                <li class="mb-8 md:w-1/2 lg:w-full flex flex-wrap row-wrap">
                                    <h4 class="font-semibold uppercase mb-4">{{ video.video_title }}</h4>
                                    <iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe class="my-8 block">
                                    <p class="text-xs prose mt-3">{{ video.video_caption }}</p>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    </div>

                    {% endif %}
                </aside>
            </article>


        </section>
    </main>


    {{ parent() }}
{% endblock body %}
