{% extends 'layouts/base.twig' %}

{% block body %}


    {{ include ('partials/header-secondary-single.twig') }}
    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex pt-24">
        <section class="w-full pl-8 rounded-lg shadow-lg p-8 mb-4 bg-brand-white ml-2 md:ml-8">
            <div>
                <div class="flex flex-wrap justify-between items-center">
                    <h2 class="uppercase text-4xl tracking-widest font-bold mb-2 text-accent-blue pr-4">{{ post.title }}</h2>
                    <div class="col-span-1 text-right">
                        <p class="subheading">POSTED ON</p>
                        <p class="meta"><time datetime="{{ post.date | date('Y-m-d H:i:s') }}">{{ post.date }}</time></p>
                    </div>

                </div>

                <hr class="bg-gray-medium my-4">

            </div>

            <div class="prose">
                <div class="my-8">
                    {% if post.thumbnail.src %}
                    <img class="shadow-lg" src="{{ post.thumbnail.src('large') }}"
                         alt="{{ post.thumbnail.alt }}">
                {% endif %}
                </div>
                {{ post.content }}
            </div>
        </section>
    </main>


{#
    {% include 'partials/comments/comment-section.twig' %} #}
{% endblock body %}
