

{% extends 'index.twig' %}


{% block body %}
{{ include ('partials/menu-trade-types-select.twig') }}

<pre>single-trade-setup.twig</pre>

<p class="">{{ post.trade_type.slug }}</p>
    {% if post.trade_type.slug == 'trade-type-bot' %}
        {{ include ('partials/setups/setup-card_full--bot.twig') }}
    {% elseif post.trade_type == 'trade-type-tac' %}
        {{ include ('partials/setups/setup-card_full--tac.twig') }}
    {% else %}
        {{ include ('partials/setups/setup-card_full.twig') }}
    {% endif %}

{% endblock body %}