<h2 class="flex items-center mr-2 symbol text-5xl font-black tracking-wide" title="{{trade.ticker_symbol.underlying_name}}">
    <span class="mr-2">{{trade.ticker_symbol}}</span>
    {{ include ('partials/trade-types/trade-type-pill_small.twig') }}
</h2>
<p class="w-full text-xl font-semibold block mt-2">{{trade.ticker_symbol.underlying_name}}</p>
<p class="w-full text-xs tracking-wide uppercase text-gray-dark mr-4 mt-2">{{trade.ticker_symbol.sector}}</p>
