<!-- This example requires Tailwind CSS v2.0+ -->


<nav class="top-nav">
    <div class="top-nav-left -ml-5 md:ml-0">
      <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/?" class="logo">
        <img
          src="{{theme.link}}/../assets/images/logo-circle.png"
          alt="big picture trading logo"

      /></a>
    </div>


    {# //MOBILE  #}
    <div class="hamburger">

      <input type="checkbox" name="menuCheck" class="menuCheck" id="">
      <i class="fas fa-bars"></i>
      <div class="mobile-menu">
        <ul>
          <li>
            <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#daily-analytics">Daily Analytics</a>
          </li>
          <li>
            <a href="{{ site.url }}/trade-updates">Trade Updates</a>
          </li>
          <li class="my-2 mb-4">
              <a href="{{ site.url }}/bot/trade_status/active/">
                  <span
                  class="
                      mx-1 pill bg-accent-blue-fade
                      text-accent-blue
                      border
                      border-accent-blue"
                  >
              BOT
              </span>
              </a>
              <a href="{{ site.url }}/cct/trade_status/active/">
                  <span
                  class="
                      mx-1 pill bg-gray-light
                      text-accent-red
                      border
                      border-accent-red"
                  >
                  CCT
                  </span>
              </a>
              <a href="{{ site.url }}/lto/trade_status/active/">
                  <span
                  class="
                  pill bg-gray-light
                  text-gray-dark
                  border
                  border-gray-dark"
                  >
                  LTO
                  </span>
              </a>
              <a href="{{ site.url }}/ofi/trade_status/active/">
                  <span
                  class="
                      pill accent-gold-light
                      text-accent-gold
                      border ml-1
                      border-accent-gold"
                  >
                  OFI
                  </span>
              </a>
              <a href="{{ site.url }}/tactical-portfolio/">
                  <span
                  class="
                      ml-1 pl-1 inline-block bg-gray-light
                      text-gray-dark
                      border
                      border-gray-dark
                      px-1"
                  >
                  TAC
                  </span>
              </a>








          </li>
          <li>
            <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#master-programs">Master Programs</a>
          </li>
          <li>
            <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#upcoming-events">Upcoming Events</a>
          </li>
          <li>
            <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#resources">Resources</a>
          </li>
          <li>
            <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#tools">Tools</a>
          </li>

          <li>
            <a href="https://secure.bigpicturetrading.com/membership/bigpictureanalytics/members_home/#twitter">Twitter Feed</a>
          </li>
          <li>
            <a href="http://secure.bigpicturetrading.com/membership/profile">Account</a>
          </li>
        </ul>
      </div>
    </div>


    {# // REGULAR MENU  #}
    <div class="top-nav-right">
        <ul class="text-brand-white font-normal top-menu top-nav-primary">
            {% if items|default(primary_menu.items) %}
                {% for item in items|default(primary_menu.items) %}
                    {% if item.children %}
                        <li class="top-menu-account-li  h-16 flex items-center" x-data="{ item{{item.id}}: false}">
                            <!-- Current: "bg-gray-100 text-gray-900", Default: "bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
                            <div id="menu-item-{{ item.id }}" href="{{ item.link }}" class="{{item.current}} top-level-side-nav relative" aria-controls="sub-menu-1" aria-expanded="{ item{{item.id}} }" @click="item{{item.id}} = !item{{item.id}}">
                                {# <i class="fal fa-bell text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6" aria-hidden="true"></i> #}
                                <p class="text-sm uppercase pl-6 w-full h-full"><span>{{ item.name }}</span>
                                    {# <i class="text-brand-secondary ml-2 rotate-0 fas fa-chevron-down " x-ref="toggle-icon" x-bind:class="item{{item.id}} == true ? 'rotate-180 transition-all duration-500 rotate-180 transform' : ''"></i> #}
                                </p>
                            </div>

                            <ul id="menu-item-list-{{ item.id }}" class="top-nav-secondary top-14 absolute"
                            x-show="item{{item.id}}"
                            x-transition:enter-start="opacity-0 scale-90"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="ease-in transition-slow"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0 scale-90"
                            @click.away="item{{item.id}} = false"
                            >
                                {% for child in item.children %}
                                    <li id="menu-item-child-{{ child.id }}">
                                        <a href="{{ child.link }}" class="">{{ child.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>

                    {%  else %}

                        <li class="top-menu-account-li">
                            <!-- Current: "bg-gray-100 text-gray-900", Default: "bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
                            <a id="menu-item-{{ item.id }}" href="{{ item.link }}" class="{{item.current}} top-level-side-nav" aria-controls="sub-menu-1" aria-expanded="false">
                                {# <i class="fal fa-bell text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6" aria-hidden="true"></i> #}
                                <p>{{ item.name }}</p>
                            </a>
                        </li>


                    {% endif %}
                {% endfor %}
            {% endif %}
            <li class="top-menu-account-li" x-data="{ accountLi: false}">
                <div class="top-level-side-nav top-menu-account-link" target="_blank" href="http://secure.bigpicturetrading.com/membership/profile" aria-expanded="{ accountLi }" @click="accountLi = !accountLi">

                    <i class="fas fa-user mt-6"></i><span class="hidden">Account</span>
                    {# <i class="text-brand-secondary ml-2 fas fa-chevron-down"></i> #}
                </div>
                <ul class="top-nav-secondary top-14 absolute"
                x-show="account{{item.id}}"
                            x-transition:enter-start="opacity-0 scale-90"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="ease-in transition-slow"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0 scale-90"
                            @click.away="accountLi = false"
                >
                <li>
                    <a href="http://secure.bigpicturetrading.com/membership/profile">Edit Profile</a>
                </li>
                <li>
                    <a href="http://secure.bigpicturetrading.com/membership/logout">Log Out</a>
                </li>
                </ul>
            </li>
        </ul>
    </div>


  </nav>

