{% extends 'index.twig' %}


{% block body %}

    {{ include ('partials/header-secondary-trades.twig') }}


    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between flex-wrap">

        {# // SIDEBAR LAYOUT
        <aside class="pt-4 pl-8 fixed">
            {{ include ('partials/sidebars/sidebar-type-archive.twig') }}
        </aside>
        <section class="w-full pt-24 ml-32 pl-48">
            <div class="open-trades">
                {% for trade in posts %}
                    {{ include ('partials/setups/setup-card_concise.twig') }}
                 {% endfor %}
            </div>
            {{ include ('partials/pagination.twig') }}
        </section> #}
        {# // TERTIARY LAYOUT #}
        <section class="w-full pt-32 ml-2 md:ml-8">
            <div class="open-trades">
                {% for trade in posts %}
                    {{ include ('partials/setups/setup-card_concise.twig') }}
                 {% endfor %}
            </div>
            {{ include ('partials/pagination.twig') }}
        </section>

    </main>


    {{ parent() }}
{% endblock body %}
