{% extends 'index.twig' %}


{% block body %}

    {{ include ('partials/header-secondary-trades.twig') }}


    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between mt-16 pt-2 md:pt-0 md:mt-12 lg:mt-16 lg:pt-4">
        <aside class="lg:w-64 lg:fixed lg:block">
            {% if ptype == 'bot' %}
                {{ include ('partials/sidebars/sidebar-bot.twig') }}
            {% elseif ptype == 'lto' %}
                {{ include ('partials/sidebars/sidebar-lto.twig') }}
            {% elseif ptype == 'ofi' %}
                {{ include ('partials/sidebars/sidebar-ofi.twig') }}
            {% elseif ptype == 'cct' %}
                {{ include ('partials/sidebars/sidebar-cct.twig') }}
            {% else %}
            {% endif %}

        </aside>
        <section class="w-full lg:ml-72 lg:pl-2 px-2">
            <div class="open-trades">
                {% if posts|length > 0 %}
                    {% for trade in posts %}
                        {{ include ('partials/setups/setup-card_concise.twig') }}
                    {% endfor %}
                {% else %}
                    <div class="flex items-center justify-center flex-wrap h-64">
                        <div class="flex justify-center flex-wrap">
                            <p class="text-xl text-center w-full tracking-wide text-accent-blue italic">There are no trades of this type and status currently posted.</p>
                            <p class="text-gray-dark">Try checking the archives for past trades.</p>
                        </div>

                    </div>

                {% endif %}

            </div>
            {{ include ('partials/pagination.twig') }}
        </section>

    </main>


    {{ parent() }}
{% endblock body %}
