<li class="leg leg{{leg.index}} border-b border-gray-light" x-data="{selected:null}">

    <div class="font-medium tracking-wide leg-main grid grid-rows-1 grid-cols-leg gap-x-2 p-2  text-center pt-0">
        <div class="leg-indicator"></div>
        <p class="col-span-1 entry-date">{{leg.entry_date}}</p>
        <p class="col-span-1 text-brand-secondary italic uppercase">UPDATE</p>
        <p class="col-span-6" class="text-auto w-full overflow-hidden pr-12 text-left text-sm text-gray-dark" style="white-space:nowrap; text-overflow: ellipsis; min-width:0px">
            {{leg.update_description_title}}
        </p>
        <div aria-label="{{leg.leg_name}} unit ratio" class="col-span-1 dropdowner" @click="selected !== 1 ? selected = 1 : selected = null" >
            <i class="fas fa-chevron-down " x-ref="toggle-icon " x-bind:class="selected == 1 ? 'transition-all duration-500 rotate-180 transform' : ''"></i>
        </div>
    {{ include ('partials/legs/leg_detail.twig') }}
</li>
