





<li class="leg leg{{leg.index}} border-b border-gray-light even:bg-gray-light rounded" x-data="{selected:null}">
    <div class="text-sm tracking-wide leg-main grid grid-rows-1 grid-cols-leg gap-x-2 p-2  text-center pt-2 font-semibold">
        <div class="leg-indicator">

        </div>
        <p class="" aria-label="{{leg.leg_name}} entry date">{{leg.entry_date}}</p>
        <p class="col-span-1 text-brand-secondary italic uppercase" aria-label="{{leg.leg_name}} name">UPDATE</p>
        <p class="col-span-6" class="text-auto w-full overflow-hidden pr-12 text-left text-sm text-gray-dark font-normal" style="white-space:nowrap; text-overflow: ellipsis; min-width:0px">
            {{leg.update_description_title}}
        </p>

        <div aria-label="{{leg.leg_name}} unit ratio" class="col-span-1 dropdowner" @click="selected !== 1 ? selected = 1 : selected = null" >
            <i class="rotate-0 fas fa-chevron-down " x-ref="toggle-icon " x-bind:class="selected == 1 ? 'rotate-180 transition-all duration-500 rotate-180 transform' : ''"></i>
        </div>

    </div>

    {{ include ('partials/legs/leg_detail.twig') }}
