<li class="leg leg{{leg.index}} border-b border-gray-light even:bg-gray-light rounded" x-data="{selected:null}">
    <div class="uppercase font-medium tracking-wide leg-main grid grid-cols-2 gap-x-2 p-2 text-sm text-center font-semibold">
        <div class="leg-indicator">

        </div>
        <p class="{{ leg.display == 'past' ? 'text-gray-dark' : ''}}" aria-label="{{leg.leg_name}} entry date">{{leg.entry_date}}</p>
        <p class="{{ leg.display == 'past' ? 'text-gray-dark' : ''}}" aria-label="{{leg.leg_name}} name">{{leg.leg_name}}</p>
        <p class="{{ leg.display == 'past' ? 'text-gray-dark' : ''}}" aria-label="{{leg.leg_name}} strategy">{{leg.leg_strategy}}</p>
        <p class="{{ leg.display == 'past' ? 'text-gray-dark' : ''}}" aria-label="{{leg.leg_name}} unit ratio">{{leg.unit_ratio}}</p>
        <p class="{{ leg.display == 'past' ? 'text-gray-dark' : ''}}" aria-label="{{leg.leg_name}} action">{{leg.action}}</p>

        <p class="{{ leg.display == 'past' ? 'text-gray-dark' : ''}}" aria-label="{{leg.leg_name}} expiry">
            {% if leg.expiry is not empty %}
                {{leg.expiry}}
            {% else %}
                <span class="text-gray-medium">--</span>
            {% endif %}
        </p>
        <p class="{{ leg.display == 'past' ? 'text-gray-dark' : ''}}" aria-label="{{leg.leg_name}} strike price">

            {% if leg.strike is not empty %}
                ${{leg.strike}}
            {% else %}
                <span class="text-gray-medium">--</span>
            {% endif %}

        </p>
        <p class="{{ leg.display == 'past' ? 'text-gray-dark' : ''}}" aria-label="{{leg.leg_name}} entry price">
            {% if leg.entry_price is not empty %}
                ${{leg.entry_price}}
            {% else %}
                <span class="text-gray-medium">--</span>
            {% endif %}
        </p>
        <div aria-label="{{leg.leg_name}} unit ratio" class="col-span-1 dropdowner" @click="selected !== 1 ? selected = 1 : selected = null" >
            <i class="rotate-0 fas fa-chevron-down " x-ref="toggle-icon " x-bind:class="selected == 1 ? 'rotate-180 transition-all duration-500 rotate-180 transform' : ''"></i>
        </div>

    </div>
    {% if leg.exit_date %}
    <div class="uppercase font-medium tracking-wide leg-main grid grid-rows-1 grid-cols-leg gap-x-2 p-2 text-xs text-gray-dark text-center pt-0">
        <p class="text-accent-red col-start-1" aria-label="exit information"><i class="fas fa-sign-out-alt"></i> EXIT</p>
        <p class=" text-gray-dark " aria-label="{{leg.leg_name}} exit date">{{leg.exit_date}}</p>
        <p class=" text-gray-dark col-start-6" aria-label="{{leg.leg_name}} exit date">{{leg.exit_action}}</p>

        <p class=" text-gray-dark col-start-9" aria-label="{{leg.leg_name}} exit price">${{leg.exit_price}}</p>
    </div>
    {% endif %}

    {{ include ('partials/legs/leg_detail.twig') }}
