<header class="page-header w-full bg-gray-light border-b border-gray-medium shadow fixed z-20 border-t border-gray-medium mb-1 pr-8">
    <div class='flex-grow w-full max-w-7xl mx-auto flex items-center justify-between py-2'>
        <div class="trade-status ml-18 ml-12">
            <label for="" class="text-gray-dark text-sm mr-1 mb-2 hidden sm:inline-block">STATUS </label>

            {% if trade_status == 'active' %}
                <a class="inline-block uppercase font-semibold rounded-full border py-1 px-2 text-xs py-1 text-brand-white bg-accent-green border-accent-green" href="{{ site.link }}/{{ptype}}/trade_status/active">ACTIVE</a>
            {% else %}
                <a class="inline-block uppercase font-semibold rounded-full border py-1 px-2 text-xs py-1 text-accent-green bg-brand-white" href="{{ site.link }}/{{ptype}}/trade_status/active">ACTIVE</a>
            {% endif %}

            {% if trade_status == 'closed' %}
                <a class="inline-block uppercase font-semibold rounded-full border py-1 px-2 text-xs py-1 text-brand-white bg-accent-red border-accent-red" href="{{ site.link }}/{{ptype}}/trade_status/closed">CLOSED</a>
            {% else %}
                <a class="inline-block uppercase font-semibold rounded-full border py-1 px-2 text-xs py-1 text-accent-red bg-brand-white" href="{{ site.link }}/{{ptype}}/trade_status/closed">CLOSED</a>
            {% endif %}


            {% if trade_status != '' %}
                <a class="inline-block uppercase font-semibold rounded-full border py-1 px-2 text-xs py-1 " href="{{ site.link }}/{{ptype}}/">ALL</a>
            {% else %}
                <a class="inline-block uppercase font-semibold rounded-full border py-1 px-2 text-xs py-1 text-brand-white bg-accent-blue border-accent-blue bg-brand-white" href="{{ site.link }}/{{ptype}}/">ALL</a>
            {% endif %}

        </div>

        <div class="yearly-archives">
            <label for="" class="text-gray-dark text-sm mr-1 mb-2 hidden sm:inline-block">ARCHIVES </label>
            {{ years }}
        </div>
    </div>

</header>


