{% extends "partials/headers/header-secondary.twig" %}

{% block icon %}
    fa-bell
{% endblock %}

{% block title %}



        {% if fn('is_day') %}
            {{ title }}


        {% elseif fn('is_month') %}

            {{ title }}

        {% elseif fn('is_year') %}
            {# <a class="hover:text-brand-primary-medium" href="{{ site.link }}/trade-updates">TRADES</a>

            <i class="far fa-chevron-double-right m-2 text-sm"></i> #}
            <a class="" href="{{ site.link }}/{{ptype}}">{{title}}</a>

            {% if year %}
            <i class="far fa-chevron-double-right m-2 text-sm"></i>
                <a class="" href="{{ site.link }}/{{ptype}}/{{year}}">{{year}}</a>
            {% endif %}

        {% elseif fn('is_tag') %}

            {{ title }}


        {% elseif fn('is_category') %}
            {{ title }}



        {% elseif fn('is_tax') %}
            {# <a class="hidden lg:inline-block hover:text-brand-primary-medium" href="{{ site.link }}/">TRADES</a>

            <i class="far fa-chevron-double-right m-2 text-sm hidden lg:inline-block"></i> #}
            <a class="" href="{{ site.link }}/{{ptype}}">{{title}}</a>

            {% if trade_status %}
            <i class="far fa-chevron-double-right m-2 text-sm"></i>
                <a class="" href="{{ site.link }}/{{ptype}}/trade_status/{{trade_status}}">{{trade_status}}</a>
            {% endif %}


        {% elseif fn('is_post_type_archive') %}
            {# <a class="hidden lg:inline-block hover:text-brand-primary-medium" href="{{ site.link }}/trade-updates">TRADES</a>

            <i class="hidden lg:inline-block far fa-chevron-double-right m-2 text-sm"></i> #}
            <a class="" href="{{ site.link }}/{{ptype}}">{{title}}</a>

            {% if year %}
            <i class="far fa-chevron-double-right m-2 text-sm"></i>
                <a class="" href="{{ site.link }}/{{ptype}}/{{year}}">{{year}}</a>
            {% endif %}

            {% if trade_status %}
            <i class="far fa-chevron-double-right m-2 text-sm"></i>
                <a class="" href="{{ site.link }}/{{ptype}}/trade_status/{{trade_status}}">{{trade_status}}</a>
            {% endif %}

        {% else %}


        {% endif %}

{% endblock %}
